<footer class="main-footer">
    <div class="container">
        <p class="mission-statement">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime optio laborum laudantium aliquam, fugiat inventore voluptatem, explicabo et aliquid omnis impedit nesciunt dicta cum vel ducimus ex laboriosam nostrum magnam?
        </p>
    </div>

    <div class="copy">
        <p>&copy; <%= Time.now.year %>,  some company</p>
    </div>
</footer>
