<header class="main-header">
    <div class="container">
        <h1 class="logo">
            <% link_to '/' do %>
                <%= image_tag("middleman-logo.svg", alt:"company logo") %>
            <% end %>
        </h1>
    </div>
</header>
