---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Hello World</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, placeat quo nisi eos corporis beatae ipsa velit quod pariatur eum laborum, accusantium molestiae neque inventore deleniti dolorum iste distinctio reprehenderit.</p>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
